/* [class*='container'] {
    background-color: lightblue;
} */


.box {
    background-color: cyan;
}

footer {
    background-color: #333;
}

#jumbotron {
    background-color: deeppink;
}

.ms_btn_purple {
    background-color: purple;
    color: #fff;
}


.ms_btn_purple:hover {
    background-color: rgb(197, 0, 197);
    color: #fff;
}
